<div class="container">
  <div class="row py-4">
    <div clsss="offset-1">
      <h1>映画新規登録</h1>
    </div>
  </div>
</div>

<% if @movie.errors.any? %>
  <%= @movie.errors.count %> error has occurred
  <ul>
    <% @movie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class= "container">
  <div class= "row">
    <div class= "col-md-10">
      <label>
      <%= form_with model: @movie, url: public_movies_path, method: :post do |f| %>
      <div style="padding: 15px">
      <div class="form-group">
        <div class="form-inline">
          <div class= "row">
            <div class="col">
              <%= f.label :title, "作品名", :class => "col-md-11 col-form-label" %>
            </div>
            <div class="col-6">
              <%= f.text_field :title, :class => "form-control col-md-20", placeholder: "作品名"  %>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div style="padding: 15px">
      <div class="form-group">
        <div class="form-inline">
          <div class="row">
            <div class="col">
              <%= f.label :genre, "ジャンル", :class => "col-m-10 col-form-label" %>
            </div>
            <div class="col-4">
              <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div style="padding: 15px">
      <div class="form-group">
        <div class="form-inline">
          <div class= "row">
            <div class="col-6">
              <%= f.label :director, "監督", :class => "col-md-10 col-form-label" %>
            </div>
            <div class="col-6">
              <%= f.text_field :director, :class => "form-control col-md-20", placeholder: "監督名"  %>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      <div style="padding: 15px">
      <div class="form-group">
        <div class="form-inline">
          <div class= "row">
            <div class="col">
              <%= f.label :"視聴方法" %>
            </div>
            <div class="col-4">
              <%= f.select :watch, ['映画館', '試写会', 'サブスクリプション', 'DVD/Blu-ray/VHS',
                                   '地上波テレビ放送', 'BS/CS', 'その他'], {include_blank: '---'} %>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      <div style="padding: 15px">
　　　<div class="position-static">
      <div class="field" id="star">
        <%= f.label :rate, "面白さ", :class => "col-6" %>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>
      </div>
          <script>
            var elem = document.getElementById('star');
            var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'movie[rate]',
            half: true,
           };
            raty(elem,opt);
          </script>
      </div>

      <div style="padding: 15px">
      <div class="position-static">
      <div class="field" id="horror">
        <%= f.label :rate_horror, "怖さ", :class => "col-6" %>
        <%= f.hidden_field :rate_horror, id: :review_horror %>
      </div>
      </div>
          <script>
            var elem = document.getElementById('horror');
            var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'movie[rate_horror]',
            half: true,
           };
            raty(elem,opt);
          </script>
      </div>
      
      <div style="padding: 15px">
　　　<div class="form-group">
        <div class="form-inline">
          <div class= "row">
            <div class="col">
              <%= f.label :year, "鑑賞日", :class => "col-md-10 col-form-label" %>
            </div>
            <div class="col-6">
              <%= f.date_field :year, :class => "form-control col-md-20", placeholder: "鑑賞日"  %>
            </div>
          </div>
        </div>
      </div>
      </div>
      </label>
      <%= f.submit '新規投稿', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
