<h4>映画新規投稿</h4>

<div class= "container">
  <div class= "row">
    <div class= "col-md-8">

      <%= form_with model: @movie,url: public_movies_path,method: :post do |f| %>
      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-4">
          <%= f.label :title, "作品名", :class => "col-md-3 col-form-label" %>
          <%= f.text_field :title, :class => "form-control col-md-3", placeholder: "作品名"  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-4">
          <%= f.label :genre, "ジャンル", :class => "col-md-3 col-form-label" %>
          <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-4">
          <%= f.label :date, "製作年", :class => "col-md-3 col-form-label" %>
          <%= f.text_field :date, :class => "form-control col-md-3", placeholder: "製作年"  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-4">
          <%= f.label :director, "監督", :class => "col-md-3 col-form-label" %>
          <%= f.text_field :director, :class => "form-control col-md-3", placeholder: "監督名"  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-4">
          <%= f.label :"視聴方法" %>
          <%= f.select :watch, ['映画館', '試写会', 'サブスクリプション', 'DVD/Blu-ray/VHS',
                                   '地上波テレビ放送', 'BS/CS', 'その他'], {include_blank: '---'} %>
          </div>
        </div>
      </div>

      <div class="field" id="star">
        <%= f.label :rate, "評価" %>
        <%= f.hidden_field :rate, id: :review_star %>
          <script>
            $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'movie[rate]',   
            half: true,   
            });
          </script>
      </div>

      <%= f.submit '新規投稿', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
