<div class="container">
  <div class="row py-4">
    <div clsss="offset-1">
      <h1>映画詳細</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-5">
    <div class="col-md-8">
      <table class="table">

         <tbody>
          <tr>
            <td>タイトル</td>
            <td><%= @movie.title %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @movie.genre.name %></td>
          </tr>
          <tr>
            <td>監督</td>
            <td><%= @movie.director %></td>
          </tr>
          <tr>
            <td>鑑賞方法</td>
            <td><%= @movie.watch %></td>
          </tr>
          <tr>
            <td>面白さ</td>
            <td><%= @movie.rate %></td>
          </tr>
          <tr>
            <td>鑑賞日</td>
            <td><%= @movie.year %></td>
          </tr>
          </tbody>
      </table>
          <div>
            <p>コメント件数：<%= @movie.comments.count %></p>
            <% @movie.comments.each do |comment| %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <% end %>
          </div>
          <div>
            <%= form_with model: [@movie, @comment], url: public_movie_path, method: :patch, local: true do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに",size: "30x3" %>
            <tr><%= f.submit "コメント送信する", class: 'btn btn-light' %></tr>
            <% end %>
          </div>



    </div>
  </div>
</div>
