<div class="container">
  <div class="row py-4">
    <div clsss="offset-1">
      <h4>登録ユーザー一覧</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover table-inverse">
          <tr>
            <th>ユーザーID</th>
            <th>プロフィール画像</th>
            <th>ユーザー名</th>
            <th>投稿映画本数</th>
            <th>投稿コメント数</th>
          </tr>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= image_tag user.get_profile_image, size:"50x50" %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.movies.count %>タイトル</td>
            <td><%= user.comments.count %>コメント</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center"><%= paginate @users %></div>
    </div>
  </div>
</div>
