<div class="container">
  <div class="row py-4">
    <div clsss="offset-1">
      <h1>マイページ</h1>
    </div>
  </div>
</div>

<div class= "container">
  <div class= "row">
    <div class= "col-md-3">
      <table>
        <tr><%= image_tag @user.get_profile_image, size:"100x100" %></tr>
        <tr>
          <th>ユーザー名</th>
          <th><%= @user.name %></th>
        </tr>
      　<tr>
      　   <th>メールアドレス</th>
      　   <th><%= @user.email %></th>
        </tr>
        <td><%= link_to "編集する", public_information_edit_path, class: "btn btn-success" %></td>
        <td><%= link_to "映画新規登録", new_public_movie_path, class: "btn btn-info" %></td>
      </table>
    </div>
    <div class= "col-md-9">
      <table class="table table-hover table-inveres">
      <thead>
        <h4><strong>投稿映画一覧</strong></h4>
        <tr>
        <th>タイトル</th>
        <th>ジャンル</th>
        <th>鑑賞日</th>
        <th></th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, public_movie_path(movie.id) %></td>
          <td><%= movie.genre.name %></td>
          <td><%= movie.year %></td>
          <td>

            <%= link_to '編集する', edit_public_movie_path(movie.id), class: 'btn btn-primary' %>

          </td>
          <td>

            <%= link_to '削除する', public_movie_path(movie.id), method: :delete,
               "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' %>

          </td>
        </tr>

        <% end %>
      </tbody>
      </table>
      <div class="d-flex justify-content-center"><%= paginate @movies %></div>
    </div>

    </div>
  </div>
</div>
